body {
        background-color: #212121;
        color: #fff;
}

#clock {
    font-size: 40px;
    background-color: orange;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}